@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: aquamarine;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a { color: aquamarine }

.perfil {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 50px;
}

.pfp {
  border-radius: 100%;
}

.botones {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.boton {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

  color: aquamarine;

  width: 500px;


  border: 1px solid black;
  background-color: #023955;

  border-radius: 10%;

  display: inline-block;
  
  text-decoration: none;

}

@media only screen and (max-width: 768px){
  /* Mobile phone */
  [class*="boton"]{
    width: 250px;
    padding: 5px;
    text-decoration: none;
  }
}
